token.json
mongodb_token.json
discord.log
config.json
*__pycache__
venv
database/backup/user_data.db
*.xml
database/__pycache__*
database/database.log
database/user_data.db
.idea/dictionaries/whackaweasel.xml
.idea/Bot_2019.iml
